body{
    min-height:100%;
}

.wrapper{
    width:100%;
    margin:auto;
}

header{
    display: block;
    margin-bottom:30px;
    .logo-wrapper-left{
        float: left;
        width:10%;
        display:inline-block;
        height:100px;
        img{
            max-width: 100%;
        }
    }
    .title-header-wrapper{
        width: 80%;
        text-align: center;
        height: 100px;;
        display: inline-block;
    }
    &::after{
        clear: both;
        content: " ";
        display: block;
    }
    .table-header{
        width:400px;
        margin:auto;
        text-align: left;
        margin-top:10px;
        margin-bottom:10px;
    }
}

main{
    padding:0px 40px;
}

table{
    td{
        vertical-align: top;
        padding:5px;
    }
}