body{
    font-family: "Arial";
    line-height: $globalLineHeight;
    color:#333;
    background-color: #fff;
    overflow: auto;
}

a{
    color : $primaryColor;
    &:hover{
        text-decoration: none;
        color : #333;
    }
}

h1,h2,h3{
    font-family: $headingFont;
    color : #333;
}

.padding-none{
    padding:0px !important;
}

.row-m-bottom-30{
    margin-bottom:30px !important;
}