@font-face {
    font-family: #{$globalFont};
    src:  url(#{$globalFontPath+$globalFont+'-Regular.ttf'})  format('truetype'); /* IE9 Compat Modes */
    font-weight: normal;
}

@font-face {
    font-family: #{$globalFont};
    src:  url(#{$globalFontPath+$globalFont+'-SemiBold.ttf'})  format('truetype'); /* IE9 Compat Modes */
    font-weight: 500;
}
@font-face {
    font-family: #{$globalFont};
    src:  url(#{$globalFontPath+$globalFont+'-Light.ttf'})  format('truetype'); /* IE9 Compat Modes */
    font-weight: 100;
}

@font-face {
    font-family: #{$headingFont};
    src:  url(#{$headingFontPath+$headingFont+'-Bold.ttf'})  format('truetype'); /* IE9 Compat Modes */
    font-weight: normal;
}

@font-face {
    font-family: #{$headingFont};
    src:  url(#{$headingFontPath+$headingFont+'-SemiBold.ttf'})  format('truetype'); /* IE9 Compat Modes */
    font-weight: 300;
}
@font-face {
    font-family: #{$headingFont};
    src:  url(#{$headingFontPath+$headingFont+'-Regular.ttf'})  format('truetype'); /* IE9 Compat Modes */
    font-weight: 100;
}

// @font-face {
//     font-family: #{$headingFont};
//     src:  url(#{$headingFontPath+'NunitoSans-ExtraBold.ttf'})  format('truetype'); /* IE9 Compat Modes */
//     font-weight: 700;
// }
// @font-face {
//     font-family: #{$headingFont};
//     src:  url(#{$headingFontPath+'NunitoSans-Light.ttf'})  format('truetype'); /* IE9 Compat Modes */
//     font-weight: 100;
// }