$globalFont : 'OpenSans';
$globalFontPath : '../fonts/Open_Sans/';
$headingFont : 'Raleway';
$headingFontPath : '../fonts/Raleway/';
$globalFontSize : 12px;
$globalLineHeight : 20px;
$headerFontSize : 1.4em;
$headerLineHeight : 1.2em;
$primaryColor : #FF4848;