.m-aside-left--enabled .m-header-menu{
    @media (min-width: 1025px){
        padding-left: 0px;
    }
}

.m-portlet .m-form.m-form--fit {
    & > .m-portlet__body{
        padding-left: 2.2rem;
        padding-right: 2.2rem;
        .row{
            [class*=col-]{
                .form-group.m-form__group{
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}


.gallery-item{
    display:block;
    position: relative;
    margin-bottom:15px;
    border:1px solid #ddd;
    display: block;
    padding:0px;
    .btn-delete-picture{
        position: absolute;
        top:0;
        right: 0;
        width:30px;
        height: 30px;
        display: block;
        text-align: center;
        line-height: 30px;
        background: red;
        color:#fff;
        z-index: 33;
    }
    .item{
        position: relative;
        padding:30px 15px;
        display: block;
        img{
            max-width: 100%;
            display: block;
            text-align: center;
            margin: auto;
        }
    }
    .caption-image{
        display: block;
        background: #ccc;
        text-align: center;
        padding: 5px 15px;
        p{
            margin:0px;
        }
    }
}


.surat-pernyataan{

    font-family: 'Times New Roman', Times, serif;
    border-bottom:2px  #ddd dashed;
    @media only screen and (max-width: 600px) {
        width: 100%;
        max-width: 100%;
        overflow: auto;
    }
    .kop-surat{
        font-size:18px;
        @media only screen and (max-width: 600px) {
            width: 1084px;
        }
        .title-kop-box{
            display: block;
            text-align: right;
            float: right;
            width:20%;
            .box-red{
                font-size:18px;
                color : red;
                padding:15px;
                display: inline-block;
                padding:5px 10px;
                border:2px solid red;
            }
        }
        .kop-surat-logo{
            float: left;
            padding:0px;
            width:20%;
            text-align: center;
            h3{
                font-size:16px;
                margin:0px;
                padding:0px;

            }
            img{
                max-width: 100%;
                width:100%;
                display:block;
                margin:auto;
            }
        }
        .kop-surat-title{
            float: left;
            text-align: center;
            width:60%;
            h3{
                font-weight: bold;
                font-size:22px;
            }
            .table{
                width:400px;
                max-width: 100%;
                margin: auto;
                margin-bottom: 20px;
                td{
                    padding:5px 0px;
                    border-top:none;
                }
            }
        }
        .kop-surat-label{
            float: left;
            text-align: right;
            width:20%;
            div{
                text-align: center;
                padding:5px 10px;
                font-weight: bold;
                &.red{
                    color : red;
                    border:2px solid red;
                }
                &.green{
                    color : green;
                    border:2px solid green;
                }
            }
        }
        &:after{
            clear: both;
            content : " ";
            display: block;
        }
    }
    .body-surat-pernyataan{
        padding-top:30px;
        .table-main{
            font-size:18px;
            td{
                vertical-align: top;
            }
        }
        @media only screen and (max-width: 600px) {
            width: 1084px;
        }
    }

    .divider{
        border-bottom:2px dashed #ddd;
        margin-bottom:15px;
    }
}

.sertifikat-laik{
    color:#000;
    font-family: 'Times New Roman', Times, serif;
    @media only screen and (max-width: 600px) {
        width: 100%;
        max-width: 100%;
        overflow: auto;
    }
    .kop-surat{
        @media only screen and (max-width: 600px) {
            width: 1084px;
        }
        margin-bottom:30px;
        .kop-surat-logo{
            float: left;
            padding:0px;
            width:20%;
            text-align: center;
            h3{
                font-size:16px;
                margin:0px;
                padding:0px;

            }
            img{
                max-width: 100%;
                width:120px;
                display:block;
                margin:auto;
            }
        }
        .kop-surat-title{
            float: left;
            text-align: center;
            width:60%;
            .table{
                width:200px;
                text-align: left;
                margin:auto;
                margin-top:10px;
                margin-bottom: 10px;
                th,td{
                    padding:2px 5px;
                    border-top:none;
                }
            }
        }

        .kop-surat-label{
            float: left;
            text-align: right;
            width:20%;
            div{
                text-align: center;
                padding:5px 10px;
                font-weight: bold;
                &.red{
                    color : red;
                    border:2px solid red;
                }
                &.green{
                    color : green;
                    border:2px solid green;
                }
            }
        }
        
        &:after{
            clear: both;
            content : " ";
            display: block;
        }
    }
    .table-info-dev{
        width:100%;
        td{
            padding:2px 5px;
        }
    }
    .table-info-house{
        width:100%;
        margin-top:10px;
        border:1px solid #333;
        td{
            padding:2px 5px;
        }
        & > tbody{
            & > tr{
                & > td{
                    border-right:1px solid #333;
                    border-bottom:1px solid #333;
                    vertical-align: top;
                    &.v-mid{
                        vertical-align: middle;
                    }
                    &:last-child{
                        border-right: none;
                    }
                    
                }
                &:last-child{
                    td{
                        border-bottom:none;
                    }
                }
            }   
        }
        .table-info-blok{
            border: 1px solid #333;
            margin-bottom:10px;
            width:100%;
            tbody{
                tr{
                    td{
                        width:20%;
                        padding:2px;
                        border-bottom:1px solid #333;
                        border-right:1px solid #333;
                        &:last-child{
                            border-right: none;
                        }
                    }
                    &:last-child{
                        td{
                            border-bottom:none;
                        }
                    }
                }
            }
        }
        .table-sub-info{
            width:100%;
            & > tr{
                td{
                    text-align: left ;
                    padding:2px 5px;
                }
            }
        }
    }

    .table-footer-sign{
        width:100%;
        margin-top:20px;
        .signature{
            display: inline-block;
            width:350px;
            text-align: center;
        }
    }
    .sertifikat-laik-body{
        @media only screen and (max-width: 600px) {
            width: 1084px;
        }
    }
    .divider{
        border-bottom:2px dashed #ddd;
        margin-bottom:15px;
    }
}

.dev-surat-pernyataan{
    font-size:16px;
    color:#000;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom:60px;
    .kop-surat{
        text-align: center;
        border-bottom:4px double #333;
        padding-bottom:60px;
        padding-top:60px;
        margin-bottom:60px;
        content: " ";
        h3{
            font-size:22px;
        }
    }
    .body-surat-pernyataan{
        .title-body{
            text-align: center;
            margin-bottom:60px;
            .sub-title{
                text-align: center;
                h3{
                    padding:0px;
                    margin:0px;
                    font-size:28px;
                    font-weight: bold;
                    border-bottom:1px solid #000;
                    display: inline-block;
                    margin: auto;
                }
            }
            h4{
                padding:0px;
                margin:0px;
                font-size:28px;
                display: inline-block;
                font-weight: bold;
            }
            
        }
    }
    .table-main{
        page-break-after: always;
        &:last-child{
            page-break-after: avoid; 
        }
        
    }
}

.m-portlet__body{
    .bg-fixed{
        display: none;
    }
}

.display-on-p{
    display: none;
}

@media print {
    .page-break{
        page-break-after: always;
    }
    .display-on-p{
        display: block;
    }
    @page {
        size:A4;
        margin:0px 0px;
        margin-top:30px;
        margin-left:40px;
        margin-right:40px;
        margin-bottom:40px;
        color :#000;
    }
    .m-portlet__body{
        color :#000;
        .bg-fixed{
            display: block;
            position:fixed;
            top:50%;
            left:0;
            right:0;
            transform:translateY(-50%);
            z-index:2;
            text-align:center;
            opacity: 0.15;
            img{
                
            }
        }
    }
    body,html{
        background-color: #fff;
        padding:0px;
        margin:0px;
        color :#000;

    }
    .m-header,.m-subheader,.m-subheader__title, .m-portlet__head,.m-footer,.m-scroll-top  {
        display: none !important;
        margin:0px;
        padding:0px;
    }
    .m-content,.m-body{
        background: #fff !important;
        padding: 0 !important;
        margin:0 !important;
    }
    .m-wrapper{
        background: #fff;
    }
    .sertifikat-laik{
        font-size:14px !important;
        z-index: 9;
        .divider{
            page-break-after: always !important;
            margin-bottom:0px;
            border-bottom:0px;
        }
    }
    .m-portlet__body{
        padding:0 !important;
        .surat-pernyataan{
        }
    }
    .surat-pernyataan{
        color :#000;
        border-bottom:none;
        font-size:20px !important;
        line-height: 28px !important;
        z-index: 99999;
        position: relative;
        font-family: 'Times New Roman', Times, serif;
        table{
            font-size:20px !important;
            line-height: 32px !important;
            z-index: 99999;
            position: relative; 
        }
        .kop-surat{
            width: 100% !important;
            z-index: 9999;
            position: relative;
            font-size:20px;
            line-height: 28px !important;
        }
        .body-surat-pernyataan{
            width: 100% !important;
            z-index: 9999;
            position: relative;
        }
        .divider{
            page-break-after: always;
            margin-bottom:0px;
            border-bottom:0px;
        }
        .divider-noborder{
            page-break-after: always;
        }
        
    }

    .dev-surat-pernyataan{
        font-size:20px !important;
        line-height: 38px;
        table{
            line-height: 38px;
            font-size:20px !important;
        }
    }
    
}

.m-header-menu .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
    font-size: 1rem;
}
.m-header-menu .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-icon {
    font-size: 1rem;
    width: 20px;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-topbar__username {
    font-size: 1rem;
    color: #676c7b;
}