
<!--Begin::Main Portlet-->
<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="row ">
            <div class="col-xl-8">
                <h1>Selamat Datang di Website <?=$defaultAppSettings['App.Name'];?></h1>
                <p>Anda dapat melakukan pengajuan di website ini dengan melakukan registrasi di menu login dengan melengkapi data perusahaan anda. Semua pengajuan yang masuk akan kami layani 24 jam. </p>

                <p><b>Anda Login Sebagai : </b> <?=$userData->name;?></p>
            </div>
        </div>
    </div>
</div>