
<table class="body-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;" bgcolor="#f6f6f6"><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top"></td>
    <td class="container" width="700" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 700px !important; clear: both !important; margin: 0 auto;" valign="top">
        <div class="content" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 700px; display: block; margin: 0 auto; padding: 20px;">
            <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #fff; margin: 0; border: 1px solid #e9e9e9;" bgcolor="#fff"><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="content-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;" valign="top">
                        <meta itemprop="name" content="Confirm Email" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;" /><table width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                    Yth Pengurus <?=$applicationLetter->developer->dpp_from->name;?>,<br>
                                </td>
                            </tr><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                    Telah diterima pengajuan baru dengan data sebagai berikut : <br>
                                </td>
                            </tr>
                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                    <table width="100%">
                                        <tr>
                                            <td width="30%" style="padding:2px;vertical-align:top;font-weight:bold;">Nama Perusahaan</td>
                                            <td width="5%" style="padding:2px;vertical-align:top;text-align:center;">:</td>
                                            <td><?=$applicationLetter->developer->name;?></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px;vertical-align:top;font-weight:bold;">Nama Perumahan</td>
                                            <td style="padding:2px;vertical-align:top;text-align:center;">:</td>
                                            <td><?=$applicationLetter->name_house;?></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px;vertical-align:top;font-weight:bold;">No. Pengajuan</td>
                                            <td style="padding:2px;vertical-align:top;text-align:center;">:</td>
                                            <td><?=$applicationLetter->code;?></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px;vertical-align:top;font-weight:bold;">Letak Bangunan (Blok)</td>
                                            <td style="padding:2px;vertical-align:top;text-align:center;">:</td>
                                            <td>
                                                <?= h(str_replace(","," | ",$applicationLetter->building)) ?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px;vertical-align:top;font-weight:bold;">Rumah Sample</td>
                                            <td style="padding:2px;vertical-align:top;text-align:center;">:</td>
                                            <td>
                                                <?=$applicationLetter->sample_house ?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px;vertical-align:top;font-weight:bold;">Harga Per. Unit</td>
                                            <td style="padding:2px;vertical-align:top;text-align:center;">:</td>
                                            <td>
                                                Rp.<?= $this->Utilities->numberFormat($applicationLetter->price_per_unit) ?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:2px;vertical-align:top;font-weight:bold;">Alamat</td>
                                            <td style="padding:2px;vertical-align:top;text-align:center;">:</td>
                                            <td>
                                                <?=$applicationLetter->address;?>,<br>
                                                <?=(!empty($applicationLetter->village_name) ? $applicationLetter->village_name.' ' : '');?>Kel. <?=$applicationLetter->village->name;?> Kec. <?=$applicationLetter->district->name;?><br>
                                                Kota/Kab. <?=h($applicationLetter->city->name);?>, <?=h($applicationLetter->province->name) ;?>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
										<a href="<?=$this->Url->build('/',true);?>" class="btn-primary" itemprop="url" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #348eda; margin: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">KLIK DISINI UNTUK LOGIN</a>
									</td>
								</tr><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                    <font style="font-size:11px;color:#ffd21e">*Tidak perlu membalas email ini</font>
                                </td>
                            </tr></table></td>
                </tr></table>
                <div class="footer" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;">
                <table width="100%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"><td class="aligncenter content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 20px;" align="center" valign="top"><?=$defaultAppSettings['App.Kop.Footer'];?></td>
                    </tr></table></div></div>
    </td>
    <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top"></td>
</tr>
</table>