<div class="m-portlet  m-portlet--head-sm" m-portlet="true" id="m_portlet_tools_1">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                <?=$titlesubModule;?>
                </h3>
            </div>			
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">							
                <li class="m-portlet__nav-item">
                    <a href="<?=$this->Url->build(['action'=>'index']);?>" data-container="body" data-toggle="m-tooltip" data-placement="bottom" title="" data-original-title="Back" class="m-portlet__nav-link m-portlet__nav-link--icon"><i class="la la-angle-left"></i></a>	
                </li>									
                <li class="m-portlet__nav-item">
                    <a href="#"  m-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon"><i class="la la-angle-down"></i></a>	
                </li>
                <li class="m-portlet__nav-item">
                    <a href="#"  m-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon"><i class="la la-expand"></i></a>	
                </li>
                <li class="m-portlet__nav-item">
                    <a href="#" m-portlet-tool="remove" class="m-portlet__nav-link m-portlet__nav-link--icon"><i class="la la-close"></i></a>	
                </li>
            </ul>
        </div>
    </div>
    <?php
        $applicationLetter->building = $building_list;
    ?>
    <?= $this->Form->create($applicationLetter,['class'=>'m-form m-form--fit m-form--label-align-right']) ?>
    <div class="m-portlet__body">
            <div class="m-form__section m-form__section--first">
                <?php
                    $myTemplates = [
                        'inputContainerError' => '<div class="form-group m-form__group row">{{content}}{{error}}</div>',
                        'inputContainer' => '<div class="form-group m-form__group row">{{content}}</div>',
                        'formGroup' => '{{label}}<div class="col-lg-8  col-md-8">{{input}}</div>',
                        'label' => '<label class="col-lg-2 col-md-4 col-form-label" {{attrs}}>{{text}}</label>',
                    ];
                    $this->Form->setTemplates($myTemplates);
                ?>
                <div class="m-form__heading">
                    <h3 class="m-form__heading-title">
                        Upload Lembar Pengawasan:
                    </h3>
                </div>
                <?=$this->Form->control('lembar_pemeriksaan',['label' => 'File Lembar Pengawasan','type'=>'file']);?>
            </div>
        </div>
        <div class="m-form__actions m-form__actions--sm m-form__actions--solid">
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
            <button type="reset" class="btn btn-secondary">
                Cancel
            </button>
        </div>
    <?= $this->Form->end();?>
</div>

<?php $this->start('script');?>
    <script>

        
    </script>

<?php $this->end();?>